


<div>
  <div class="col-md-2 col-md-offset-9">
    <h2>הרשמה לאתר</h2>
    <h3>פרטים בסיסיים</h3>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f,$event)" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="firstName">שם פרטי</label>
          <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
        </div>
        <div class="form-group">
          <label for="lastName">שם משפחה</label>
          <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
        </div>

      
        <div class="form-group">
          <label for="gender">מין</label>
          <select name="gender" [(ngModel)]="model.gender" #gender="ngModel" class="form-control">
            <option value="1" selected>זכר</option>
            <option value="2">נקבה</option>
          </select>
        </div>

          <!--
    <div class="form-group">
      <label for="gender">מין</label>
      <input type="radio" id="male"
             name="contact" value="1" [(ngModel)]="model.male" #male="ngModel">
      <label for="male">זכר</label>

      <input type="radio" id="female"
             name="contact" value="2" [(ngModel)]="model.female" #female="ngModel">
      <label for="female">נקבה</label>
    </div>-->
          <!--
    <label class="checkbox-inline"><input type="checkbox" value="">זכר</label>
    <label class="checkbox-inline"><input type="checkbox" value="">נקבה</label>-->
          <h3>התחברות לאתר</h3>
          <div class="form-group">
            <label for="username">שם משתמש</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required />
          </div>

          <div class="form-group">
            <label for="username">אימייל</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
          </div>

          <div class="form-group">
            <label for="password">סיסמא</label>
            <input type="text" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          </div>

          <div class="form-group">
            <label for="repeatPassword">חזור על הסיסמא</label>
            <input type="text" class="form-control" name="repeatPassword" [(ngModel)]="model.repeatPassword" #repeatPassword="ngModel" required />
          </div>

          <div *ngIf="model.repeatPassword != model.password">
            <label>סיסמא לא תואמת</label>
          </div>

          <button [disabled]="loading" class="btn btn-primary">הירשם לאתר</button>
          
</form>
  </div>
</div>

