<div id="divTitleDiv">

  <img id="imgSystemLogo" src="assets\img\MyBasketLogo.png" >

</div>

<br />

<table id="tblTitleBarTable" colspan="2">
  <tr>
      <td class="tdTitleBarTableTd">
          <label id="lblHello" class="title-label-class">שלום אור פורטה,</label>
      </td>
      <td class="tdTitleBarTableTd">
          <a id="lnkSign" class="title-label-class">יציאה</a>
      </td>
  </tr>
  <tr>
      <td class="tdTitleBarTableTd">
      </td>
      <td class="tdTitleBarTableTd">
        <div id="divCartDiv">
          <span id=spnCartIcon class="glyphicon glyphicon-shopping-cart"></span>
          <label id="lblProductAmount" class="title-label-class">20</label>
        </div>
      </td>
  </tr>
  <tr>
    <td class="tdTitleBarTableTd">
        
    </td>
    <td class="tdTitleBarTableTd">
    </td>
  </tr>
</table>


