#imgSystemLogo
{
    height: 100px;
    width: 400px;
}

#divTitleDiv
{
    align-content: center;
    text-align: center; 
}

#lblHello
{
    margin-right: 5px;
}

#lnkSign
{
    margin-left: 5px;
}

#lnkSign:hover
{
    cursor: pointer;
}

#spnCartIcon
{
    margin-left: 5px;
}

#tblTitleBarTable
{
    width: 100%;
}

.td
{
    width: 50%;
    align-content: center;
    text-align: center; 
}

#divCartDiv:hover
{
    cursor: pointer;
}