<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div>
        <h6>
          עדכון אחרון: 27/11/18 13:10
        </h6>
      </div>

      <div>
        <img src="../../../../assets/img/72940761.png" width="90" />
      </div>

      <div>
        <h4>
          <strong>
            מילקי מעדן חלב בטעם שוקולד עם קצפת 7% שטראוס 133 גרם
          </strong>
        </h4>
      </div>

      <div>
        <strong>יצרן:</strong> שטראוס
      </div>
      <div>

        <strong>קטגוריה:</strong> חלב ומוצריו
      </div>

      <div>
        <strong>כמות:</strong> 133 גרם
      </div>

      <div>
        <strong>ארץ ייצור:</strong> ישראל
      </div>

      <div>
        <strong>תיאור:</strong> מעדן בטעם שוקולד
      </div>

      <div>
        <strong>פרטים נוספים:</strong>
      </div>

      <span class="label label-primary">מיוצר בישראל</span>
      <span class="label label-success">ללא גלוטן</span>
      <span class="label label-info">כשר</span>
      <span class="label label-warning">חלבי</span>
      <span class="label label-danger">אי"ל</span>
    </div>

    <div class="col-md-3 col-md-offset-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              סימון תזונתי
            </th>
            <th>
              ל-100 גרם
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>קלוריות</td>
            <td>155</td>
          </tr>
          <tr>
            <td>חלבונים</td>
            <td>2.9</td>
          </tr>

          <tr>
            <td>פחמימות</td>
            <td>20</td>
          </tr>
          <tr>
            <td>סוכרים</td>
            <td>17.8</td>
          </tr>
          <tr>
            <td>שומנים</td>
            <td>7</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row" style="background-color: #7dc573;
    margin: 4px;
    min-height: 60px; border-radius: 10px;">
        <div class="col-md-2">
          <img src="../../../../assets/img/shufersal.jpg" height="40" />
        </div>
        <div class="col-md-3 store-name">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-2 price">
          12 ש"ח
        </div>
        <div class="col-md-1 arrow-icon">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row" style="background-color: #a8a871;
    margin: 4px;
    min-height: 60px; border-radius: 10px;">
        <div class="col-md-2">
          <img src="../../../../assets/img/shufersal.jpg" height="40" />
        </div>
        <div class="col-md-3 store-name">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-2 price">
          12 ש"ח
        </div>
        <div class="col-md-1 arrow-icon">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row" style="background-color: #c9926f;
    margin: 4px;
    min-height: 60px; border-radius: 10px;">
        <div class="col-md-2">
          <img src="../../../../assets/img/shufersal.jpg" height="40" />
        </div>
        <div class="col-md-3 store-name">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-2 price">
          12 ש"ח
        </div>
        <div class="col-md-1 arrow-icon">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row" style="background-color: #de836e;
    margin: 4px;
    min-height: 60px; border-radius: 10px;">
        <div class="col-md-2">
          <img src="../../../../assets/img/shufersal.jpg" height="40" />
        </div>
        <div class="col-md-3 store-name">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-2 price">
          12 ש"ח
        </div>
        <div class="col-md-1 arrow-icon">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row" style="background-color: #ff6d6d;
    margin: 4px;
    min-height: 60px; border-radius: 10px;">
        <div class="col-md-2">
          <img src="../../../../assets/img/shufersal.jpg" height="40" />
        </div>
        <div class="col-md-3 store-name">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-2 price">
          12 ש"ח
        </div>
        <div class="col-md-1 arrow-icon">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .price {
    font-weight: bold;
    font-size: 24px;
  }

  .store-name {
    font-weight: bold;
    font-size: 18px;
  }

  .arrow-icon {
    font-size: 25px;
  }
</style>
