<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div>
        <h6>
          עדכון אחרון: 27/11/18 13:10
        </h6>
      </div>

      <div>
        <img src="../../../../assets/img/72940761.png" width="90" />
      </div>

      <div>
        <h4>
          <strong>
            מילקי מעדן חלב בטעם שוקולד עם קצפת 7% שטראוס 133 גרם
          </strong>
        </h4>
      </div>

      <div>
        <strong>יצרן:</strong> שטראוס
      </div>
      <div>

        <strong>קטגוריה:</strong> חלב ומוצריו
      </div>

      <div>
        <strong>כמות:</strong> 133 גרם
      </div>

      <div>
        <strong>ארץ ייצור:</strong> ישראל
      </div>

      <div>
        <strong>תיאור:</strong> מעדן בטעם שוקולד
      </div>

      <div>
        <strong>פרטים נוספים:</strong>
      </div>

      <span class="label label-primary">מיוצר בישראל</span>
      <span class="label label-success">ללא גלוטן</span>
      <span class="label label-info">כשר</span>
      <span class="label label-warning">חלבי</span>
      <span class="label label-danger">אי"ל</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          תמונה
        </div>
        <div class="col-md-2">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-1">
          12 ש"ח
        </div>
        <div class="col-md-1">
          >
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          תמונה
        </div>
        <div class="col-md-2">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-1">
          12 ש"ח
        </div>
        <div class="col-md-1">
          >
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          תמונה
        </div>
        <div class="col-md-2">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-1">
          12 ש"ח
        </div>
        <div class="col-md-1">
          >
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          תמונה
        </div>
        <div class="col-md-2">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-1">
          12 ש"ח
        </div>
        <div class="col-md-1">
          >
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          תמונה
        </div>
        <div class="col-md-2">
          שופרסל גולדה ראשון לציון
        </div>
        <div class="col-md-1">
          12 ש"ח
        </div>
        <div class="col-md-1">
          >
        </div>
      </div>
    </div>
  </div>
</div>



<style>


</style>
