<div id=divSearchTitle>
  <label id="lblSearchTitle">חיפוש מוצרים</label>

  <br />

  <input id=txtSearch class="" type="text" >
  <button type="button" id="btnSearch" class="btn-info">חפש</button>
</div>

<br />

<div id="divSearchResultsPanel" class="panel panel-primary">

  <div id="divSearchResultsTitle" class="panel-heading">תוצאות החיפוש</div>

  <div id="divSearchResultsContent" class="panel-body">

      <div class="results-table">
          <div class="results-row">
              <div class="results-cell">Row1Cell1</div>
              <div class="results-cell">Row1Cell2</div>
              <div class="results-cell">Row1Cell3</div>
          </div>
          <div class="results-row">
              <div class="results-cell">Row2Cell1</div>
              <div class="results-cell">Row2Cell2</div>
              <div class="results-cell">Row2Cell3</div>
          </div>
          <div class="results-row">
              <div class="results-cell">Row3Cell1</div>
              <div class="results-cell">Row3Cell2</div>
              <div class="results-cell">Row3Cell3</div>
          </div>
      </div>

  </div>

</div>