<div id=divSearchTitle>
  <label id="lblSearchTitle">חיפוש מוצרים</label>

  <br />

  <input id=txtSearch class="" type="text" >
  <button type="button" id="btnSearch" class="btn-info">חפש</button>
</div>

<br />

<div id="divSearchResultsPanel" class="panel panel-primary">
  <div id="divSearchResultsTitle" class="panel-heading">תוצאות החיפוש</div>
  <div id="divSearchResultsContent" class="panel-body">
      <div class="results-table">
          <div class="results-row">
              <div class="results-cell">

                <label class="product-title">שניצל תירס</label>
                <br />
                <img class="product-img" src="assets\img\שניצל תירס.jpg" />
                <br />
                <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>

              </div>
              <div class="results-cell">

                  <label class="product-title">בורקס גבינה</label>
                  <br />
                  <img class="product-img" src="assets\img\בורקס גבינה.jpg" />
                  <br />
                  <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                  <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>
                  
              </div>
              <div class="results-cell">

                    <label class="product-title">אפונת גינה</label>
                    <br />
                    <img class="product-img" src="assets\img\אפונת גינה.jpg" />
                    <br />
                    <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                    <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>
                    
              </div>
          </div>
          <div class="results-row">
              <div class="results-cell">

                <label class="product-title">סטייק עין</label>
                <br />
                <img class="product-img" src="assets\img\סטייק.jpg" />
                <br />
                <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>

              </div>
              <div class="results-cell">

                  <label class="product-title">המבורגר</label>
                  <br />
                  <img class="product-img" src="assets\img\המבורגר.jpg" />
                  <br />
                  <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                  <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>
                  
              </div>
              <div class="results-cell">

                    <label class="product-title">גזר גמדי</label>
                    <br />
                    <img class="product-img" src="assets\img\גזר גמדי.jpg" />
                    <br />
                    <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                    <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>
                    
              </div>
          </div>
          <div class="results-row">
              <div class="results-cell">

                <label class="product-title">כדורי פירה</label>
                <br />
                <img class="product-img" src="assets\img\כדורי פירה.jpg" />
                <br />
                <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>

              </div>
              <div class="results-cell">

                  <label class="product-title">צ'יפס</label>
                  <br />
                  <img class="product-img" src="assets\img\ציפס.jpg" />
                  <br />
                  <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                  <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>
                  
              </div>
              <div class="results-cell">

                    <label class="product-title">טבעות עוף</label>
                    <br />
                    <img class="product-img" src="assets\img\טבעות עוף.jpg" />
                    <br />
                    <button type="button" id="btnAddProduct" class="btn-info">הוסף</button>
                    <button type="button" id="btnShowProduct" class="btn-info">הצג מוצר</button>
                    
              </div>
          </div>
      </div>

      <br />

      <div id="divPagination">
          <ul class="pagination">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
          </ul>
      </div>
  </div>
</div>